<DIV class="framework-content-view" style="overflow:auto;">

<DIV class="heading-container">
<DIV class="heading">
<H2 id="contentTitle">Job Details</H2>

</DIV></DIV>

<DIV class="slb-dashboard" >

<DIV class="view-container" style="width:1168px; text-align:left;padding:50px;" >
<table class="table table-bordered">
<thead>
      <tr>
         <th style="color: #337ab7">Job ID</th>
        <th style="color: #337ab7">Flow ID</th>
        <th style="color: #337ab7">Flow Name</th>
         <th style="color: #337ab7">Progress</th>
        <th style="color: #337ab7">Status</th>
        <th style="color: #337ab7">Date Submitted</th>
         <th style="color: #337ab7">Submitted By</th>
        <th style="color: #337ab7">Last Updated</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{Data1.mid}}</td>
        <td>{{Data1.flowId}}</td>
        <td>{{Data1.mname}}</td>
        <td>{{Data1.toq}}</td>
         <td>{{Data1.status}}</td>
        <td>{{Data1.tsq}}</td>
        <td>{{Data1.uom}}</td>
         <td>{{Data1.tsq}}</td>
        
      </tr>
      </tbody>
  </table>

    

</DIV>
</DIV>
</DIV>