<DIV class="framework-content-view">

<DIV class="heading-container">
<DIV class="heading">
<H2 id="contentTitle">Seismic Drive</H2>
<DIV class="sub-nav">

   <div class="slb-search-field expanding"><input name="partial-block" type="search" placeholder="" class="placeholder-shown"> 
                      
<div class="slb-icon"><svg xmlns="http://www.w3.org/2000/svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>                         </svg>                      
 </div></div>
   <button class="slb-button icon-only">
<div class="slb-icon"><svg xmlns="http://www.w3.org/2000/svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-filter"></use>                       </svg>                     
</div><span class="text">Filter</span>                     </button>              
 </DIV></DIV></DIV>

<DIV class="slb-dashboard">

<DIV class="view-container">

</DIV>
</DIV></DIV>

   