<DIV class="info" id="jobsTable">
<DIV class="slb-table" style="margin-left:30px; margin-right:41px">
<DIV class="slb-table-heading">
<H2>My Job List</H2><BUTTON class="slb-button icon-only">
<DIV class="slb-icon"><svg xmlns="http://www.w3.org/2000/svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" 
xlink:href="#icon-add" />                    </svg>                  
</DIV></BUTTON>                 </DIV>

 <div id="menu2" class="tab-pane fade in active slb-table-container">
    <br/><br/>
    <div class="slb-table-container" style="height:460px;">
            <!-- <h3>My Job List</h3> -->
         <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <!--<thead>
                <tr>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Job ID<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Flow ID<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Flow Name <span onClick = "document.getElementById('myInput').style.display = 'block'" class="caret"></span><input hidden id="myInput" type="text" [(ngModel)]="searchText"/></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Progress<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Status<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Date Submitted<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Submitted By<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Last Updated<span class="caret"></span></th>
<th style="background-color:#F4F5F9;color:#555452;font-size:15px;">Actions<span class="caret"></span></th>
                </tr>
                </thead>-->
                <thead>
                <tr>
                   <th style="width: 5%">
                        <mfDefaultSorter by="mid">Job ID</mfDefaultSorter>
                    </th>
                    <th style="width: 7%">
                        <mfDefaultSorter by="flowId">Flow ID</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="mname">Flow Name</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="toq">Progress</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                    </th>
                    <th style="width: 11%">
                        <mfDefaultSorter by="tsq">Date Submitted</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="uom">Submitted By</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="tsq">Last Updated</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        Actions
                    </th>
               </tr>
			   <!-- <tr>
                    <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]="searchText"/>
                    </th>
                </tr> -->
                
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                    <td style="padding-left: 10px;">{{item.mid}}</td>
                    <td >{{item.flowId}}</td>
                    <td >{{item.mname}}</td>
                    <td class="item"><DIV class="slb-progress-indicator positive"><SPAN 
      class="value">{{item.toq}}%</SPAN>                 
      <DIV class="wrap">
      <DIV class="bar" style="width: 50%;"></DIV></DIV>
      <DIV class="meta"></DIV></DIV></td>
                    <td >{{item.status}}</td>
                    <td >{{item.tsq}}</td>
                    <td> {{item.uom}}</td>
                    <td >{{item.tsq}}</td>
                    <td>
                     <button (click)="remove(item)" class="btn btn-danger">x</button>
                     <button (click)="view(item)" class="btn btn-view">View</button>
                     </td>
                    </tr>
    
                </tbody>

            </table>
          
           <div>
              
            </div>      
                   <br/> 
                   <div style="top:670px;right:10px;position:absolute;">
                         
               <br/> <br/>
                     </div>  
                       <br/> <br/>
    
         
            
  </div>
  
        </div>

 


</DIV></DIV>